<div class="container">
  <div class="list-group">
    <h1>Result</h1>
    <% if @included %>
      <% if @english_word %>
        <p>"Congratulations <strong><%= @word %></strong> is a valid English word"</p>
      <% else %>
        <p>"Sorry but <strong><%= @word %></strong> does not seem to be a valid English word"</p>
      <% end %>
    <% else %>
      <p>"Sorry but <strong><%= @word %></strong> cant be built out of <strong><%= @letters %></strong>"
    <% end %>
    <h2></h2>
    <%= link_to "Play another time", new_path %>
  </div>
</div>
